
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Available Options:</p>
<style>
    i {
        color:blue;
    }
</style>
<ul>
    <li>display/<i>ip</i>/<i>port</i>  -  will show the current location of the plane.</li>
    <li>display/<i>ip</i>/<i>port</i>/<i>freq</i> - will display the current location of the plane each <i>freq</i> seconds.</li>
    <li>save/<i>ip</i>/<i>port</i>/<i>freq</i>/<i>time</i>/<i>filename</i> - will display the current location of the plane each <i>freq</i> seconds for <i>time</i> seconds,<br />
            and then will save the plane'ss path into a file named <i>filename</i>.
</li>
    <li>display/<i>filename</i>/<i>freq</i> - will show the plane's path saved on <i>filename</i> with a delay of <i>freq</i> seconds between each point.</li>
</ul>

